<h1>Hello World!</h1>
<p>Please enter a delightful phrase.  Along with your favorite word from that phrase.</p><br>
<p>This simple application will return the frequency of the chosen word.</p>

<form action="/show_results" method="post">
  <label for="users-input">Phrase: </label>
  <input name="users-input" type="text" placeholder="Your spectacular phrase!"></br>
  <label for="word">Search for Specified Word: </label>
  <input name="sick-word-bro" type="text" placeholder="Input your word for science.">
  <button type="submit">Search!</button>
</form>

<!-- Add clear functionality and ability to return to landing page. -->
